'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Keybinding Cheatsheet'
      'submenu': [
        { 'label': 'Toggle', 'command': 'keybinding-cheatsheet:toggle' }
      ]
    ]
  }
]
